.loadingBox {
  align-items: center;
  background-color: transparent;
  border: 24px double #444c57;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 45px;
}

.loading {
  display: flex;
  font-weight: bold;
  font-size: 4rem;
  color: #7ca2a7;
  text-align: center;
  align-content: center;
  justify-content: center;
}
