*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #020003;

  h1 {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #c4755a;
  }
  h2 {
    font-size: 2rem;
    color: #7e7383;
    &:hover {
      color: #b9a4c5;
    }
  }

  .not-found,
  .error {
    padding-top: 2em;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 500;
    color: #500035;
    .error404 {
      color: #500000;
      text-decoration: underline;
    }
  }

  .link {
    background-color: #402734;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    gap: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a {
      margin: 0 48px;
      color: #efb15d;
      &:hover {
        color: #f9f871;
      }
    }
  }
}
